.navegacion{
    display: flex;
    justify-content: end;
}
.logo{
    width: 190pt;
    height: 36pt;
}
.letra{
    font-family: roboto;
}
.foto{
    width: 190pt;
    height: 36pt;
}

.imagen{
    width: 124pt;
    height: 264pt;
}
.targeta{
    width: 184pt;
    height: 100pt;
}
